body {
  background:white;
}

.navbar-brand  {
  height:auto;
}

.navbar-nav > li > a {
  line-height:40px;
}

.form-control {
  margin-top: 5px;
  padding:3px 0 0 20px;
  height:auto;
  line-height:40px;
}

.dropdown-menu > li > a  {
  line-height:2.5;
}

.dropdown-menu {
  padding:0;
}

#options {
  margin-top: 20px;
  padding-right:20px;
  padding-left:20px;
}

#championGrid {
  .col-xs-3 {
    text-align:center;
    margin-bottom:15px;

    .champion {
      padding-top:15px;
      padding-bottom:7px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      border-radius:4px;
      cursor:pointer;
      transition:box-shadow 0.4s;
      white-space: nowrap;

      img {
        max-width: 100%;
      }

      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }

      p {
        margin-bottom:0px;
        margin-top:5px;
      }
    }

  }
}


.scriptWrapper {
  margin-bottom:15px;
}


.scriptUpvotes {
  text-align:right;


  .badge {
    background:#5cb85c;
    color:white;
  }
}

.scriptVoting {
  text-align:right;
  margin-bottom:15px;

  .btn-sm {
    margin-left:10px;
  }
}

.scriptControls {

  .btn-sm {
    margin-right:10px;
  }
}

.downvote, .upvote {
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

